<div class='card'>
    <form (ngSubmit)="AddProduct()" class='bg-pic'>
<div class='card-header'>
 ADD PRODUCT
</div>
<div class='card-body'>            
  <div class='table-responsive'>
    <table class='table'>       
    
      <tbody>  
          <tr>
              <td> <label>Product Id</label></td>
              <td><input type="text" name="p_id" [(ngModel)]="productItem.productId"/></td>                  
            </tr>   
            <tr>
                <td><label>Product Name</label></td>
                <td><input type="text" name="p_name" [(ngModel)]="productItem.productName"/></td>                  
              </tr>  
              <tr>
                <td><label>Product Type</label></td>
                <td><input type="text" name="p_code" [(ngModel)]="productItem.productType"/></td>                  
              </tr>  
              <tr>
                <td><label>Price</label></td>
                <td><input type="text" name="p_date" [(ngModel)]="productItem.price"/></td>                  
              </tr>  
              <tr>
                <td><label>Quantity</label></td>
                <td><input type="text" name="p_desc" [(ngModel)]="productItem.quantity"/></td>                  
              </tr>  
              <tr>
                <td> <label>Description</label></td>
                <td><input type="text" name="p_price" [(ngModel)]="productItem.description"/></td>                  
              </tr>  
              <tr>
                <td> <label>Location</label></td>
                <td><input type="text" name="p_rating" [(ngModel)]="productItem.location"/></td>                  
              </tr>  
              <tr>
                <td><label>Product imageUrl</label></td>
                <td><input type="text" name="p_image" [(ngModel)]="productItem.imageUrl"/></td>                  
              </tr>  
              <tr>
                <td></td>
                <td><input type="submit" style="width: 70px;" value="Submit" /></td>                  
              </tr>             
      </tbody>
    </table>
  </div>
</div>
</form>
</div>

