<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
        <button class="btn btn-info" style="margin-left: 85%;" routerLink="/products">Home</button>
        <button class="btn btn-success" style="margin-left: 45%;" routerLink="/addproducts">Add Product</button>
        <button (click)="logout()" style="float: right;" class="btn btn-primary">Log Out</button>
    </div>

    <div class='card-body'>
        <div class='table-responsive'>
            <table class='table bg-pic' *ngIf='products && products.length'>
                <thead>
                    <tr>
                        <th></th>
                        <th>Product Id</th>
                        <th>Product Name</th>
                        <th>Product Type</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <th>location</th>
                        <th></th>
                        <th></th>
                    </tr>

                </thead>
                <tbody>
                    <tr *ngFor='let product of products'>
                        <td><img [src]='product.imageUrl' [title]='product.productName' [style.width.px]='imageWidth' [style.height.px]='imageHeight' [style.margin.px]='imageMargin'></td>
                        <td>{{product.productId}}</td>
                        <td>{{ product.productName|uppercase }}</td>
                        <td>{{ product.productType }}</td>
                        <td>{{ product.price|currency:'USD' }}</td>
                        <td>{{ product.quantity }}</td>
                        <td>{{ product.location }}</td>
                        <td>
                            <button class="btn btn-warning" style="cursor:pointer" (click)="editProduct(product)" style="margin-left: 20px; width: 100px;"> Edit</button>
                        </td>
                        <td>
                            <button class="btn btn-danger" style="cursor:pointer" (click)="deleteProduct(product)"> Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>